body {
  margin: 0;
  font-size: 16px;
}

/****** HEADER ******/

header {
  background-color: whitesmoke;
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 1;
  display: flex;
}

header img {
  padding-left: 24px;
  height: 32px;
  padding-top: 16px;
}

.header-left {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
}

.mobile {
  display: none;
}

/* "Colmar" text */
.first {
  color: hsl(217,1%,34%);
  font-weight: bold;
  display: inline-flex;
  align-items: center; /* NOTE: To use "align-items" the display must be set to one of the flex options */
}

/* "Academy" text */
.second {
  color: hsl(217,2%,77%);
  display: inline-flex;
  align-items: center;
}

.desktop a {
  text-decoration: none;
  color: black;
  font-family: "Arial", sans-serif;
}

.navigation { /* NOTE: These should be the blue colored bars between the links */
  background-color: hsl(191,48%,67%);
  height: 100%;
  display: flex;
}

.navigation .desktop {
  display: flex;
  align-items: center;
}

/* Code for the colored bars between the links */
.navigation .desktop li {
  background-color: whitesmoke;
  margin: 10rem 0.5rem; /* NOTE: This margin call is what makes the blue bars visible */
  padding: 1.5rem 0rem;
}

/* NOTE: By default there will be a blue bar in front of the first link that I don't want to be visible so this is removing it by setting the margin to 0 */
.navigation .desktop li:first-child {
  margin-left: 0rem;
  padding-right: 0rem;
}

/* NOTE: There is also a blue bar after the last link and I will use the same code to remove that, but specify last-child */
.navigation .desktop li:last-child {
  margin-right: 0rem;
  padding-right: 2rem;
}

/*Media Queries for header */
@media screen and (max-width: 470px) {
  .desktop {
    display: none;
  }
  .navigation .desktop{
    display: none;
  }
  .mobile {
    display: flex;
  }
  .header-left {
    display: none;
  }
  .navigation {
    background-color: whitesmoke;
  }
}


/****** Banner Section ******/

.banner {
  background-color: lightgray;
  padding-top: 32px;
}

.banner .container { /* NOTE: This puts the gray bar on top of the picture, and the call to margin enables the padding on the left side of the image in the next css call */
  padding-top: 32px;
  margin: 0;
  display: flex;
}

.banner img {
  width: 58.5%;
  padding: 32px 24px;
  padding-top: 32px;
  align-self: center; /* NOTE: This line prevents the picture from stretching */
}

.learn h1 {
  width: 60%;
  margin-top: 15rem; /* NOTE: This moves the text up or down in the banner */
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Helvetica", sans-serif;
}

.learn h2 {
  width: 60%;
  margin-top: 1rem; /* NOTE: This moves the text up or down in the banner */
  font-size: 1.3rem;
  font-weight: 400;
}

.button {
  background-color: black;
  width: 60%;
  transition: background-color 0.35s linear 0s;
}

.button:hover {
  background-color: hsl(191,48%,67%);
}

.button h3:hover {
  color: black;
}

.button h3 {
  color: whitesmoke;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  padding: 8px 0px;
  margin-top: 2rem;
  font-size: 1.2rem;
  transition: color 0.35s linear 0s;
}

.button a {
  text-decoration: none;
}

/* Media Queries for Banner section */
@media screen and (max-width:470px) {
  .banner .container {
    flex-direction: column;
  }
  .banner img {
    width: 100%;
    padding: 0px 0px 32px 0px;
  }
  .learn h1 {
    width: 100%;
    margin-top: 0rem; /* NOTE: This moves the text up or down in the banner */
    font-size: 2.3rem;
    padding-left: 1rem;
  }
  .learn h2 {
    width: 90%;
    margin-top: 1rem; /* NOTE: This moves the text up or down in the banner */
    font-size: 1.3rem;
    padding-left: 1rem;
  }
  .button {
    width: 90%;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
}

/****** Information Section ******/
/* Left-Column */

.banner2 {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
}

.banner2 .left-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 32px 24px;
}

.banner2 .left-column img {
  width: 100%;
}

.banner2 .left-column h1 {
  color: hsl(0,0,50);
  font-size: 2rem;
  padding-top: 32px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.banner2 .left-column h3 {
  width: 100%;
  padding-top: 32px;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

.banner2 .left-column h4 {
  padding: 24px 0px 32px 0px;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
}

/* Right-Column */

.right-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 32px;
  border-left: 0.5px solid lightgray;
}

.image-mobile {
  display: none;
}

.top {
  display: flex;
  padding-top: 0px;
  padding-bottom: 16px;
  padding-left: 16px;
  border-bottom: 0.5px solid lightgray;
  height: auto;
}

.top .image {
  width: 34%; /* NOTE: I'm not sure why, but the first picture needed to be set 1% smaller than the other two in order to line up right */
  height: auto;
}

.banner2 .right-column .image img {
  width: 100%;
}

.middle, .bottom {
  display: flex;
  padding: 16px;
  border-bottom: 0.5px solid lightgray;
  align-items: center;
  height: auto;
}

.middle .image, .bottom .image {
  width: 35%;
  height: auto;
}

.text {
  width: 65%;
}

.top .text {
  padding-top: 24px;
}

.text a {
  text-decoration: none;
}

.top .text a, .middle .text a, .bottom .text a {
  color: hsl(210, 100%, 56%); /* NOTE: This is "dodgerblue" */
}


.top .text h1 {
  font-size: 2rem;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  padding-left: 24px;
  padding-top: 48px;
}

.middle .text h1, .bottom .text h1 {
  font-size: 2rem;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  padding-left: 24px;
  padding-top: 12px;
}

.top .text h3, .middle .text h3, .bottom .text h3 {
  font-weight: bold;
  padding-left: 24px;
  padding-top: 12px;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
}

.top .text h2, .middle .text h2, .bottom .text h2 {
  padding-left: 24px;
  padding-top: 12px;
  font-size: 1.3rem;
  font-family: "Arial", sans-serif;
}

/* Media Queries for Information section */
@media screen and (max-width:470px) {
  .banner2 .left-column {
    display: none;
  }
  .banner2 .right-column {
    width: 100%;
  }
  .top {
    padding-bottom: 0rem;
  }
  .top, .middle, .bottom {
    flex-direction: column;
    width: 100%;
    border: none;
  }
  .right-column .image {
    width: 90%;
  }
  .middle, .bottom {
    padding-left: 1rem;
    align-items: left;
  }
  .top .text h1, .midde .text h1, .bottom .text h1 {
    padding-left: 2rem;
    padding-top: 0rem;
  }
  .top .text h2, .middle .text h2, .bottom .text h2 {
    padding-left: 2rem;
    padding-top: 1rem;
    line-height: 1.2;
  }
  .top .text h3, .middle .text h3, .bottom .text h3 {
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .top .text, .middle .text, .bottom .text {
    width: 90%;
  }
  .bottom .text h1 {
    padding-left: 2rem;
    padding-top: 1.5rem;
  }
  .middle .text h1 {
    padding-left: 2rem;
    padding-top: 1.5rem;
  }
  .middle .text h3 {
    padding-bottom: 0rem;
  }
}

/****** Courses Section ******/

.courses {
  display: flex;
  width: 92.5%;
  background-color: lightgray;
  padding: 32px 72px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title h1 { /* NOTE: This is also handling the stlying for the "Thesis Exhibit" heading in the thesis section */
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Helvetica", sans-serif;
  padding-bottom: 32px;
  padding-top: 32px;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.toprow {
  display: flex;
  flex-direction: row;
}

.bottomrow {
  display: flex;
  flex-direction: row;
}

.class {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke; /* NOTE: The white box under each picture */
  width: 33.3%;
  margin: 16px; /* NOTE: Setting the spacing between each box */
}

.class img {
  height: auto;
  width: 100%;
}

.class h2 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-weight: bold;
  font-size: 1.7rem;
  font-family: "Nunito Sans", sans-serif;
}
.class h3 {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 1.3rem;
  font-family: "Nunito Sans", sans-serif;
}

.class h4 {
  padding-top: 8px;
  padding-bottom: 24px;
  padding-left: 16px;
  font-size: 1.3rem;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.4;
}

/* Media queries for Courses section */
@media screen and (max-width: 470px) {
  .gallery .class img {
    display: none;
  }
  .toprow, .bottomrow {
    flex-direction: column;
  }
  .title {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin: 0;
  }
  .class {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.5rem;
    background-color: lightgray;
  }
  .class h3, .class h4 {
    display: none;
  }
  .courses {
    width: 100%;
    padding: 0px 0px 24px 0px;
    background-color: whitesmoke;
  }
  .toprow {
    align-items: center;
    width: 100%;
  }
  .bottomrow {
    align-items: center;
    width: 100%;
  }
  .class h2 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/****** Thesis section ******/

.thesis {
  display: flex;
  flex-direction: column;
  width: 98.8%;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
}

.thesis-container {
  display: flex;
}

.thesis-left-column {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 16px;
}

.thesis-right-column {
  display: flex;
  flex-direction: column;
  width: 37.5%;
}

.topblock, .bottomblock {
  display: flex;
  height: 33%;
}

.thesis-left-column video {
  padding: 0px;
  margin-top: 0px;
}

.thesis-left-column h3 {
  width: 90%;
  padding-top: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 32px;
}

.thesis-left-column h1 {
  padding-top: 24px;
  padding-bottom: 8px;
  font-size: 2rem;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.topblock img, .bottomblock img {
  width: 35%;
  padding: 16px;
}

.topblock-text, .bottomblock-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 65%;
}

.topblock-text h1, .bottomblock-text h1 {
  font-size: 2rem;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.topblock-text h2, .bottomblock-text h2 {
  padding-top: 16px;
  font-family: "Arial", sans-serif;
  font-size: 1.3rem;
}

/* Media queries for Thesis section */

@media screen and (max-width: 470px) {
  .thesis-right-column {
    display: none;
  }
  .thesis-left-column {
    width: 100%;
  }
  .thesis-left-column h1, .thesis-left-column h3 {
    display: none;
  }
}

/****** Footer Section ******/

footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid lightgray;
  width: 100%;
  padding-bottom: 36px;
}

.leftside {
  width: 20%;
  padding-left: 24px;
  padding-top: 12px;
}

.leftside p {
  color: gray;
  font-family: "Arial", sans-serif;
}

.rightside {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}

.rightside a {
  text-decoration: none;
  color: gray;
  font-family: "Arial", sans-serif;
}

.rightside ul {
  display: flex;
}

.rightside li {
  padding-right: 24px;
}

/* Media queries for footer section */
@media screen and (max-width: 470px){
  .rightside {
    display: none;
  }
  .leftside {
    width: 100%;
    padding-top: 3rem;
  }
  footer {
    border: none;
  }
}
